.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h6 {
    margin: 0;
    padding: 0;
}