.top-text {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    align-items: center;
    font-family: 'Product Sans', sans-serif;
}

.team-profiles {
    display: flex;
    justify-content: center;
}